/* =======================
   VARIABLES
======================= */
$color-principal: rgb(81, 27, 102);
$color-card: #ffffff8c;
$radio-card: 12px;

/* =======================
   MIXIN
======================= */
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* =======================
   RESET + BASE
======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

/* =======================
   HERO
======================= */
.hero-section {
  height: 45vh;
  background-image: url(../img/bannerdos.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include flex-column;
  padding: 0 40px;

  h1,
  h2 {
    color: #fff;
    text-shadow: 2px 2px 2px black;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }
}

/* =======================
   PRODUCTOS
======================= */
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  justify-items: center;
  padding: 40px 20px;
}

/* =======================
   CARDS
======================= */
.card {
  width: 250px;
  height: 420px;
  padding: 20px;
  background-color: $color-card;
  border-radius: $radio-card;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #00000026;
  }

  h3 {
    font-size: 18px;
    min-height: 48px;
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: contain;
  }

  .precio {
    color: purple;
    font-weight: bold;
    margin: 10px 0;
  }

button {
  background-color: #0c0a0e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #564f60;
    transform: scale(1.05);
  }
}
}

/* =======================
   FOOTER
======================= */
.footer {
  background-color: #f2f2f2;
  padding: 40px 20px;
}

.footer-contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.img-ubicacion {
  width: 100%;
  max-width: 420px;
  height: auto;
  margin-top: 20px;
  object-fit: contain;
  border-radius: 14px;
}

.titulo-productos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icono-titulo {
  color: $color-principal;
}

.beneficios i {
  color: $color-principal;
}
