$color-principal: rgb(103, 71, 116); 
$color-fondo: #fdfdfd;      // Gris cemento clarito (el secreto del look pro)
$color-card: #ffffff;       // Blanco puro para que las tarjetas resalten
$color-texto: #2d2d2d;      // Gris muy oscuro para mejor lectura
$radio-card: 15px;          // Bordes redondeados modernos