/* Paleta principal */
$color-principal: #674774;
$color-fondo: #fdfdfd;
$color-card: #ffffff;
$color-texto: #2d2d2d;
$radio-card: 15px;

/* violeta (para header / navbar) */
$violeta-principal: $color-principal;
$violeta-oscuro: #4f345a;
$blanco: #ffffff;
