* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= BASE ================= */

body {
  background-color: $color-fondo;
  color: $color-texto;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* ================= TÍTULOS ================= */

h1,
h2,
h3,
h4 {
  color: $color-principal; // Los títulos principales usarán tu morado
  font-weight: 700;
}

/* ================= HR ================= */

hr {
  opacity: 0.1;
  border-color: $color-principal;
}

/* ================= CAROUSEL ================= */

.carousel-inner {
  max-height: 400px;
  border-radius: 15px;
  overflow: hidden;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
}

.carousel {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.05); // Un borde casi invisible
}
